<strong>Olá {{ student }}!</strong>
<h3>Temos uma resposta para você!</h3>
<p><strong>O que você perguntou?</strong></p>
<p style="margin-top: 15px; padding: 15px; background-color: #eee; border-radius: 5px;"> {{ question }}</p>
<p><strong>Resposta</strong></p>
<p style="margin-top: 15px; padding: 15px; background-color: #eee; border-radius: 5px;"> {{ answer }} </p>
<p><small>Respondido em {{ answer_at }}</small></p>
